@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');
// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
  list-style: none
}

h1{
  font-family: "Roboto";
  font-size: 100px;
}

// .container {
//   width: 800px;
//   margin: 0 auto;
// }

// @media (max-width: 900px) {
//   .container {
//     width: 700px;
//   }
// }


// @media (max-width: 700px) {
//  .container {
//     width: 500px;
//   }
// }


// @media (max-width: 500px) {
//   .container {
//     width: 400px;
//   }
// }
